.nav-tabs > li > a {
 font-size: 15px ! important;
 color: #000000;
}

.nav-tabs > li.active > a {
    color: #00ba8b; !important
  border-bottom-color: #00ba8b ! important;
  background-color: #F9F6F1 ! important;
}

.nav-tabs > li.active > a:hover {
    color: #00ba8b; !important 
}